<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.vuevbenadminboot.mapper.MallOrderItemMapper">

    <resultMap id="BaseResultMap" type="com.boot.vuevbenadminboot.domain.MallOrderItem">
            <id property="id" column="id" />
            <result property="orderId" column="order_id" />
            <result property="productId" column="product_id" />
            <result property="productName" column="product_name" />
            <result property="productImage" column="product_image" />
            <result property="price" column="price" />
            <result property="quantity" column="quantity" />
            <result property="totalPrice" column="total_price" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,product_id,product_name,product_image,price,
        quantity,total_price,create_time,update_time,deleted
    </sql>
</mapper>
