<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.vuevbenadminboot.mapper.MallFileMapper">

    <resultMap id="BaseResultMap" type="com.boot.vuevbenadminboot.domain.MallFile">
            <id property="id" column="id" />
            <result property="fileName" column="file_name" />
            <result property="filePath" column="file_path" />
            <result property="fileType" column="file_type" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_path,file_type,create_time,update_time,
        status
    </sql>
</mapper>
